<link rel="stylesheet" href="{{"static/css/home.css" | prepend: site.baseurl}}">

<div class="container" id="section-about">
  <div class="outline-container">
    <div class="outline-line-container">
      <div class="outline-line">
        <span class="outline-ends outline-start"></span>
        <span class="outline-point"></span>
        <span class="outline-point"></span>
        <span class="outline-point"></span>
        <span class="outline-point"></span>
        <span class="outline-ends outline-stop"></span>
      </div>

    </div>
    <div class="outline-menu-container">

    </div>
  </div>

</div>

<!--<script src="{{"static/js/line-work.js" | prepend: site.baseurl}}"></script>-->