.container {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }
  .container h1 {
    font-size: 32px; }

#home-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.outline-container {
  position: fixed;
  height: 100%;
  width: 20%;
  transition: background .3s linear, transform .2s ease-in;
  transform: translate3d(-50%, 0, 0); }
  .outline-container .outline-line-container {
    height: 100%; }
  .outline-container .outline-line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    overflow: visible; }
  .outline-container .outline-ends {
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 12px;
    position: absolute;
    left: -4px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 1; }
  .outline-container .outline-start {
    top: 12%; }
  .outline-container .outline-point {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: -1px; }
    .outline-container .outline-point:nth-child(2) {
      top: 32%; }
    .outline-container .outline-point:nth-child(3) {
      top: 52%; }
    .outline-container .outline-point:nth-child(4) {
      top: 72%; }
    .outline-container .outline-point:nth-child(5) {
      top: 92%; }
  .outline-container .outline-stop {
    bottom: 8%; }
  .outline-container .outline-button-container {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
    top: 11.5%;
    right: -30px;
    border: 1px solid rgba(255, 255, 255, 0.2); }
  .outline-container .outline-button {
    width: 60%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35%;
    margin-left: -30%; }
  .outline-container .outline-button-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute; }
    .outline-container .outline-button-line:nth-child(1) {
      top: 18%; }
    .outline-container .outline-button-line:nth-child(2) {
      top: 50%;
      margin-top: -1px; }
    .outline-container .outline-button-line:nth-child(3) {
      bottom: 18%; }
  .outline-container .outline-button-close {
    display: none; }
    .outline-container .outline-button-close:before, .outline-container .outline-button-close:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 2px;
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 50%;
      margin-top: -1px; }
    .outline-container .outline-button-close:before {
      transform: rotate(45deg); }
    .outline-container .outline-button-close:after {
      transform: rotate(135deg); }
  .outline-container.open {
    background: #8ac832;
    transform: none; }
    .outline-container.open .outline-button-open {
      display: none; }
    .outline-container.open .outline-button-close {
      display: block; }

/*# sourceMappingURL=home.css.map */
